* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    --jost: 'Jost', sans-serif;
    --inter: 'Inter', sans-serif;

    font-size: 62.5%;

    --gray-300: #525252;
    --gray-500: #525252;

    --white: #fff;

    --blue-100: #CAE2FC;
    --blue-200: #007BFF;
}
