body {
    margin: 0;
    padding: 0;
}
#formularioGeral{
    width: 98vw;
    position: absolute;
}
#relatorioPDF{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    
}

#relatorioPDF .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho p strong {
    font-weight: 300;
}

.cabecalho p {
    display: flex;
    margin-top: 1rem;
    font-family: var(--roboto);
    font-size: 2rem;
}

#relatorioPDF .dashbordItens {
    margin-top: 1rem;
}

.formData input {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5;
    border: 0.1rem solid var(--gray-300);
    font-size: 2rem;
    font-family: var(--jost);
}

.formData label {
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.formData button {
    background: var(--blue-200);
    color: var(--white);
    margin-left: 2rem;
    width: 15rem;
    height: 4rem;
    cursor: pointer;
}

.formData button:hover {
    background-color: var(--blue-300);
}


.dashbordItens {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border: 0.1rem solid;
    width: 98%;
    height: 102%;
    border-radius: 1rem;
}

.dashbordItens div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    font-size: 1rem;
}

.dashbordItens div p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* div item */
.dashbordItens #item {
    display: flex;
    align-items: center;
}
.dashbordItens #item p {
    width: 7rem;
}

.dashbordItens #codigo p {
    width: 7rem;
}

.dashbordItens #descricao p {
    width: 23rem;
}

.dashbordItens #idDocumento p {
    width: 5rem;
}

.dashbordItens #qtdFolja p {
    width: 7rem;
}

.dashbordItens div h2 {
    display: flex;
    justify-content: center;
    font-family: var(--roboto);
}

.dashbordItens div p {
    display: flex;
    padding-top: 1rem;
    border-top: 0.1rem solid var(--gray-300);
    display: flex;
    justify-content: center;
}

.dashbordItens #termino {
    border: none;
}

#gerarPDF {
    background: var(--blue-200);
    color: var(--white);
    top: 7rem;
    position: absolute;
    z-index: 80;
    margin-left: 4rem;
    width: 15rem;
    height: 4.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

#gerarPDF:hover {
    background: var(--blue-300);
}

#sair {
    background: rgba(196, 32, 20, 0.986);
    color: var(--white);
    top: 13rem;
    position: absolute;
    z-index: 90;
    margin-left: 4rem;
    width: 15rem;
    height: 4.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

#sair:hover {
    background: rgba(167, 3, 3, 0.863);
}

.formFilt input {
    margin-top: 1rem;
    width: 11rem;
    padding: 0.5rem;
    border-radius: 0.5;
    border: 0.1rem solid var(--gray-300);
    font-size: 2rem;
    font-family: var(--jost);
}

.formFilt {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 85;
    top: 6rem;
    left: 20rem;
}

.formFilt label {
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 2rem;
}